* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 15vw;
  gap: 16px;
}

body > form {
  display: flex;
  width: 100%;
  gap: 8px;
}

body > form input {
  flex: 1;
  padding: 0 8px;
}

body > form button {
  width: 30px;
  height: 30px;
}

body > form .buttons {
  display: flex;
  gap: 8px;
}

body > form button img {
  width: 16px;
  height: 16px;
}

table {
  flex: 1;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table th {
  background-color: #dddddd;
  text-align: center;
}

table td,
th {
  border: 1px solid #636363;
  padding: 10px;
}

table tr:not(:first-child):hover {
  cursor: default;
}

table tr:nth-child(even) {
  background: #fff;
}
table tr:nth-child(odd) {
  background: #ddd;
}

table tr td.actions {
  display: flex;
  width: 90px;
  justify-content: space-between;
}

table tr td a, body > form button#update {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  color: white;
}

table tr td a#update {
  background: green;
}

table tr td a#delete {
  background: red;
}

table tr td a i {
  color: white;
}

#add__new {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background-color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease-in-out;
}

#add__new:hover {
  transform: scale(1.1);
  background-color: #424242;
}

#add__new p {
  font-size: 32px;
  color: white;
}

.container__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.container__modal .bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #12121233;
}

.container__modal .modal {
  background-color: white;
  width: 600px;
  position: absolute;
  padding: 32px;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.container__modal .modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container__modal .modal form input,
.container__modal .modal form select {
  height: 50px;
  border: none;
  border-radius: 8px;
  border: 1px solid #868686;
  padding: 0 12px;
  outline: none;
}

.container__modal .modal form select {
  color: #868686;
}

.container__modal .modal form input:focus,
.container__modal .modal form select:focus {
  border: 2px solid #2b2b2b;
  border-radius: 8px;
  padding: 0 11px;
}

.container__modal .modal form .buttons {
  display: flex;
  width: 100%;
  gap: 12px;
}

.container__modal .modal form button {
  height: 50px;
  flex: 1;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.cancel {
  background-color: red;
}

.send {
  background-color: green;
}

#delete__modal p {
  text-align: center;
  padding: 8px 24px;
  color: #636363;
}

#delete__modal button.cancel {
  background-color: #12121277;
}

#delete__modal button.delete {
  background-color: red;
}
